<article class="session_new">
  <% flash.each do |key, value| %>
    <%= content_tag(:p, value, class: "#{key} alert alert-info") %>
  <% end %>
  <h2>ログイン</h2>
  <section class="form_block">
    <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
      <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email %>
      </div>
      <div class="field">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password %>
      </div>
      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
    <% end %>
  </section>
</article>