<%= form_with(model: @task, local: true ,url: choose_new_or_edit ) do |form| %>
<% if @task.errors.any? %>
<div id="error_explanation">
  <h2><%= @task.errors.count %>件のエラーがあります。</h2>
  <ul>
    <% @task.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="task_title">
  <%= form.label :title, "タスク名" %>
  <%= form.text_field :title %>
</div>
<div class="task_title">
  <%= form.label :content, "内容" %>
  <%= form.text_field :content %>
</div>
<div class="task_title">
  <%= form.label :limit, "終了日" %>
  <%= form.date_select :limit %>
</div>
<div class="task_title">
  <%= form.label :status_name, "ステータス" %>
  <%= form.select :status_name, ['未着手','着手','完了']%>
</div>
<div class="field">
  <%= form.label :priority %><br>
  <%= form.select :priority, ['低', '中', '高'] %>
</div>
<%= form.submit %>
<% end %>
<%= link_to "タスク一覧にもどる", tasks_path %>