<h3>以下の内容で、タスク作成しますか？？</h3>
<%= form_with(model: @task, url: tasks_path, local: true) do |form| %>
<%= form.hidden_field :title %>
<%= form.hidden_field :content %>
<%= form.hidden_field :limit %>
<p>タスク名:<%= @task.title %></p>
<p>内容:<%= @task.content %></p>
<p>終了期限:<%= l @task.limit, format: :long %></p>
<%= form.submit  "登録する" %>
<%= form.submit "戻る", name: 'back' %>
<% end %>