<h1>タスク一覧</h1>
<p><%= notice %></p>
<div class="sort_select">
  <%= link_to "登録日を昇順で並べる", tasks_path %>
  <%= link_to "終了日を降順で並べる", tasks_path(sort_expired: "true") %></p>
</div>
<table>
  <% @tasks.each do |task| %>
  <tr>
  <tr class="task_row">
    <td><strong>タスク名: </strong><%= task.title %></td>
    <td><strong>内容: </strong><%= task.content %></td>
    <td><strong>登録日: </strong><%= l task.created_at, format: :long %></td>
    <td><strong>終了日: </strong><%= l task.limit, format: :long %></td>
    <td><strong>ステータス: </strong><%= task.status_name %></td>
  </tr>
  <td><%= link_to 'タスクの詳細確認', task_path(task.id) %></td>
  <td><%= link_to 'タスクを編集する', edit_task_path(task.id), data: { confirm: '本当に編集していいですか？' } %></td>
  <td><%= link_to 'タスクを削除する', task_path(task.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></td>

  </tr>
  <% end %>
</table>
<%= link_to '新規タスク作成', new_task_path %>