<h1>タスク詳細画面</h1>
<p>タスク名</p>
<p><%= @task.title %></p>
<p>内容</p>
<p><%= @task.content %></p>
<p>登録日</p>
<p><%= @task.created_at %></p>
<p>終了期限</p>
<p><%= @task.limit %></p>
<p><%= link_to 'Back', tasks_path(@task) %></p>